@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@900&display=swap");

body {
  font-family: "Zen Old Mincho", serif;
  font-weight: 900;
  font-style: normal;
}

button {
  font-family: "Zen Old Mincho", serif;
  font-weight: 900;
  font-style: normal;
}

.Main {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  /* height: 800px; */
  background-image: url("/mogura.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start2 {
  font-size: 60px;
  cursor: default;
}

.start2:hover {
  color: red;
  cursor: pointer;
}
